h1 .underline {
    display: inline-block; 
    border-bottom: 2px solid blue; 
    margin-left: 1em;
}

h1 {
    font-size: 30px;
}

p {
    text-align: justify;
    margin-top: 1em;
    font-size: 20px;
    margin-left: 1em;
}

.main {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    margin-top: 4em;
}

.conteudo-text {
    margin-top: 5em;
}

.img-container {
    margin-top: 3em;
    display: flex;
    align-items: center;  
}

.img-container img {
    width: 75%;  
    height: auto;
    margin-left: 15em;
}

.conteudo-funcionalidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6em;
}

.funcionalidades-text {
    text-align: center;
    color: blue;
    font-style: italic;
    margin-top: 2em;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 4em;
}

.card {
    width: 50rem;
    margin-bottom: 1.5em;
    background-color: #2C2FA6;
    color: white;
}

i {
    float: left;
    font-size: 20px;
}

span {
    font-size: 20px;
    font-weight: bold;
    margin-left: -1em;
}

.beneficios {
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.beneficio {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    width: 100%;
    max-width: 600px;
}

.beneficio-numero {
    font-size: 3.5rem;
    font-weight: bold;
    color: #2C2FA6;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5em;
}

.beneficio-texto {
    display: flex;
    flex-direction: column;
}

.beneficio-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
    text-align: left;
    margin-top: 20px;
}

.beneficio-descricao {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    text-align: left;
}

h1 .text-center {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
}
