body {
    margin: 0;
    padding: 0;
}

.conteudo-text {
    margin-top: 4em;
    align-items: center;
    padding: 2em;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    margin: 5px;
}

p {
    margin-top: 2em;
    font-size: 20px
}

.btn {
    border-radius: 30px;
    background-color: #4655FF;
    color: aliceblue;
    width: 150px;
    height: 40px;
    margin: 10px;
}


.img-container {
    display: flex;
    height: 40em;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    height: auto;
    margin: 2em;
}
